<!DOCTYPE html>
<html xmlns="http:/www.w3.org/1999/xhtml" xmlns:th="http:/www.thymeleaf.org">
<head th:fragment="commonHeader(title)">
<title th:text="${title}"></title>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<!-- <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" /> -->
<link rel="icon" th:href="@{/production/images/favicon.ico}" type="image/ico"/>
<link th:href="@{/ace/assets/css/bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/ace/assets/css/font-awesome.min.css}" rel="stylesheet"/>
<link th:href="@{/ace/assets/css/nprogress.css}" rel="stylesheet"/>
<!-- <link th:href="@{/ace/assets/css/green.css}" rel="stylesheet"/> -->
<link th:href="@{/ace/assets/css/bootstrap-progressbar-3.3.4.min.css}" rel="stylesheet"/>
<link th:href="@{/ace/assets/css/jqvmap.min.css}" rel="stylesheet"/>
<link th:href="@{/ace/assets/css/daterangepicker.css}" rel="stylesheet"/>
<link th:href="@{/ace/assets/css/custom.min.css}" rel="stylesheet"/>
<link th:href="@{/ace/assets/css/dataTables.bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/ace/assets/css/buttons.bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/ace/assets/css/fixedHeader.bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/ace/assets/css/responsive.bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/ace/assets/css/scroller.bootstrap.min.css}" rel="stylesheet"/>
<link th:href="@{/ace/assets/css/bootstrap-table.min.css}" rel="stylesheet"/>
</head>
<body>

</body>
</html>