<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="onloadJS">
<script th:src="@{/ace/assets/js/jquery.min.js}"></script>
<script th:src="@{/ace/assets/js/bootstrap.min.js}"></script>
<script th:src="@{/ace/assets/js/fastclick.js}"></script>
<script th:src="@{/ace/assets/js/nprogress.js}"></script>
<script th:src="@{/ace/assets/js/Chart.min.js}"></script>
<script th:src="@{/ace/assets/js/gauge.min.js}"></script>
<script th:src="@{/ace/assets/js/bootstrap-progressbar.min.js}"></script>
<script th:src="@{/ace/assets/js/icheck.min.js}"></script>
<script th:src="@{/ace/assets/js/skycons.js}"></script>
<script th:src="@{/ace/assets/js/jquery.flot.js}"></script>
<script th:src="@{/ace/assets/js/jquery.flot.pie.js}"></script>
<script th:src="@{/ace/assets/js/jquery.flot.time.js}"></script>
<script th:src="@{/ace/assets/js/jquery.flot.stack.js}"></script>
<script th:src="@{/ace/assets/js/jquery.flot.resize.js}"></script>
<script th:src="@{/ace/assets/js/jquery.flot.orderBars.js}"></script>
<script th:src="@{/ace/assets/js/jquery.flot.spline.min.js}"></script>
<script th:src="@{/ace/assets/js/curvedLines.js}"></script>
<script th:src="@{/ace/assets/js/date.js}"></script>
<script th:src="@{/ace/assets/js/jquery.vmap.js}"></script>
<script th:src="@{/ace/assets/js/jquery.vmap.world.js}"></script>
<script th:src="@{/ace/assets/js/jquery.vmap.sampledata.js}"></script>
<script th:src="@{/ace/assets/js/moment.min.js}"></script>
<script th:src="@{/ace/assets/js/daterangepicker.js}"></script>
<script th:src="@{/ace/assets/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/ace/assets/js/custom.min.js}"></script>
<script th:src="@{/ace/assets/js/dataTables.bootstrap.min.js}"></script>
<script th:src="@{/ace/assets/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/ace/assets/js/buttons.bootstrap.min.js}"></script>
<script th:src="@{/ace/assets/js/buttons.flash.min.js}"></script>
<script th:src="@{/ace/assets/js/buttons.html5.min.js}"></script>
<script th:src="@{/ace/assets/js/buttons.print.min.js}"></script>
<script th:src="@{/ace/assets/js/dataTables.fixedHeader.min.js}"></script>
<script th:src="@{/ace/assets/js/dataTables.keyTable.min.js}"></script>
<script th:src="@{/ace/assets/js/dataTables.responsive.min.js}"></script>
<script th:src="@{/ace/assets/js/responsive.bootstrap.js}"></script>
<script th:src="@{/ace/assets/js/dataTables.scroller.min.js}"></script>
<script th:src="@{/ace/assets/js/jszip.min.js}"></script>
<script th:src="@{/ace/assets/js/pdfmake.min.js}"></script>
<script th:src="@{/ace/assets/js/vfs_fonts.js}"></script>
<script th:src="@{/ace/assets/js/bootstrap-table.min.js}"></script>
</div>
</body>
</html>