<!DOCTYPE html>
<html xmlns="http:/www.w3.org/1999/xhtml" xmlns:th="http:/www.thymeleaf.org" >
<head th:include="common/common_header::commonHeader('首页')" />
<body class="nav-md">
	<div class="container body">
		<div class="main_container">
		<!-- 引入公共的左侧菜单 -->
			<div th:include="common/common_leftbar::common_leftbar(系统管理)"></div>
		<!-- 引入公共的顶部菜单 -->
			<div th:include="common/common_top::common_top"></div>
	        
	        
		</div><!-- main_container -->
	</div><!-- container body -->
	<div th:include="common/onload_js::onloadJS"></div>
</body>
</html>